.buttonSet{
    border: 1px solid rgb(20, 20, 116);
    width: 10rem;
    background-color: aqua;
}
.btn{
    border: 1px solid rgb(47, 47, 90);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2px;
    width: 3rem;
    height: 2.5rem;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.bar{
    background-color: rgb(56, 77, 77);
    border: 1px solid black;
    font-weight: 700;
    height: 2rem;
    color: rgb(125, 212, 91);
}
button[type="reset"]{
    outline: none;
    border-radius: 50rem;
    padding: 0.3rem 3rem;
    background-color: rgb(38, 71, 100,.8);
}